<script language="javascript">

    var archive_results = {};
    
            function runSearch(q) {
                var results_node = document.getElementById("list_results");
                results_node.innerHTML = "";
    
                if (q.length > 0) {
                    var resultsFound = false; // Flag to check if any results are found
                    var resultCount = 0; // Counter for number of results found
    
                    for (var i = 0; i < archive_results.items.length; i++) {
                        var item = archive_results.items[i];
                        var title_lower = item.title.toLowerCase();
                        var text_lower = item.content_text.toLowerCase();
    
                        if (title_lower.includes(q) || text_lower.includes(q)) {
                            var p_node = document.createElement("p");
                            var link_node = document.createElement("a");
                            var d = Date.parse(item.date_published);
                            var date_s = new Date(d).toISOString().substr(0, 10);
                            var date_node = document.createTextNode(date_s);
                            link_node.appendChild(date_node);
                            link_node.href = item.url;
                            var title_node = null;
    
                            if (item.title.length > 0) {
                                title_node = document.createElement("span");
                                title_node.innerHTML = ": <b>" + item.title + "</b>";
                            }
    
                            var s = item.content_text;
    
                            if (s.length > 200) {
                                s = s.substr(0, 200) + "...";
                            }
    
                            var text_node = document.createElement("span");
                            text_node.innerHTML = ": " + s;
    
                            p_node.appendChild(link_node);
    
                            if (title_node != null) {
                                p_node.appendChild(title_node);
                            }
    
                            p_node.appendChild(text_node);
                            results_node.appendChild(p_node);
    
                            // Increment the resultCount
                            resultCount++;
    
                            // Set the flag to true since results are found
                            resultsFound = true;
    
                            // Break out of the loop when max results have been found
                            if (resultCount >= {{- $.Site.Params.results_count }}) {
                                break;
                            }
                        }
                    }
    
                    // Show the results_node only if results are found
                    if (resultsFound) {
                        results_node.style.display = "block";
                    } else {
                        results_node.style.display = "none";
                    }
                } else {
                    results_node.style.display = "none"; // Hide results if search query is empty
                }
            }
    
            function submitSearch(q) {
                runSearch(q);
    
                const url = new URL(window.location.href);
                url.searchParams.set("q", q);
                history.pushState({}, "", url);
            }
    
            document.addEventListener("DOMContentLoaded", function() {
                fetch("/archive/index.json")
                    .then(response => response.json())
                    .then(data => {
                        archive_results = data;
    
                        const url = window.location.href;
                        const params = new URLSearchParams(new URL(url).search);
                        const q = params.get("q");
    
                        if (q && q.length > 0) {
                            document.getElementById("input_search").value = q;
                            runSearch(q);
                        }
                    });
            });
    
        
    </script>
    
    <style>
    
    #search {
        display: none;
    }
    
    #list_results {
        display: none;
    }
    
    
    .field {
        width: 100%;
        height: 34px;
        border: 2px solid #eee;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 11px;
    }
    
    #list_results {
        z-index: 10 !important;
        padding: 2rem;
        border-radius: 11px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    
    }
    
    </style>
    
    <form onSubmit="return false;">
        <input class="field" type="text" name="q" id="input_search" placeholder="Search" onChange="submitSearch(this.value.toLowerCase());" />
    </form>
    
    <div id="list_results"></div>
    